[Unit]
Description=weixin-agent main service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/weixin-agent
ExecStart=/home/ubuntu/weixin-agent/start.sh
Restart=always
RestartSec=5
User=ubuntu
EnvironmentFile=/home/ubuntu/weixin-agent/.env

StandardOutput=journal
StandardError=journal
SyslogIdentifier=weixin-agent

[Install]
WantedBy=multi-user.target
